<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Air_Druims_Connection.config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="Air_Druims_Connection.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <Air_Druims_Connection.config>
            <setting name="portaUSB" serializeAs="String">
                <value />
            </setting>
            <setting name="caixa" serializeAs="String">
                <value />
            </setting>
            <setting name="chimbal" serializeAs="String">
                <value />
            </setting>
            <setting name="chimbalAberto" serializeAs="String">
                <value />
            </setting>
            <setting name="bumbo" serializeAs="String">
                <value />
            </setting>
        </Air_Druims_Connection.config>
        <Air_Druims_Connection.Properties.Settings>
            <setting name="portaUSB" serializeAs="String">
                <value/>
            </setting>
        </Air_Druims_Connection.Properties.Settings>
    </userSettings>
</configuration>
